body {
	font-family: Arial, Helvetica, sans-serif ;
	background-image: url("imagenes/Fondos-de-pantalla-de-paisajes-naturales27.jpg")
}
img {
	max-width: auto ;
	width: auto ;
	height: auto ;
}
div#tswcontent {
	width: auto ;
	max-width: auto ;
}
div#tswcontproper {
	padding-left: 5px ;
	padding-right: 5px ;
}
div#tswcontainer {
	
}
